.home-page {
    /* height: 100vh; */
    background: linear-gradient(to bottom, white 80%, #00a556 20%);
    margin-top: 6px;
}

.card{
    width: 16vw;
    /* height: ; */
    background-color:white;
    /* border-width : 1px; */
    border-bottom-left-radius :25px ;
    border-bottom-right-radius :25px ;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* right, bottom, blur, spread */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}