.feature{
    height: 100%;
    margin: 0;
    background: white;
}

.f_card {
    width: 28vw;
    height: 60vh;
    /* border-width: 1px; */
    background-color:#faf4e3;
    /* border-radius: 25px; */
    padding:2%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* right, bottom, blur, spread */
}

.f_image {
    width: 100%;
    height:50%;
}